__pycache__/
*.pyc
*.log
.DS_Store
src/dump.txt
.idea/
venv/
server.yaml
*build*/
/libdds/hands/
/libdds/doc/*.pdf
/libdds/doc/*.docx
/libdds/doc/*.rtf
/libdds/doc/*.htm*
/libdds/doc/*.mht
.dockerignore
